
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),
    url(image/back.jpg);
    background-size: cover;
    background-position: center; 
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;
}

.logo{
    width: 140px;
    cursor: pointer;
}

.nav-links li {
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}

.nav-links li a {
    text-decoration:none;
    color: #fff;
}

.nav-links2 li {
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}

.nav-links2 li a {
    text-decoration:none;
    color: rgb(7, 7, 7);
}

.register-btn{
    background: #fff;
    color: #000;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
}

.register-btn2{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
}

.container {
    padding: 0 7%;
}   

.header h1{
    font-size: 4vw;
    font-weight: 500;
    color: #fff;
    text-align: center;
    padding-top: 22%;
}

.search-bar{
    background: #fff;
    width: 70%;
    margin: 30px auto;
    padding: 6px 10px 6px 30px;
    border-radius: 50px;
}

.search-bar form{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.search-bar form input {
    display: block;
    border: 0;
    outline: none;
    background: transparent;
}

.search-bar form button{
    background: #ff5361;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 0;
    outline: none;
    cursor: pointer;
}

.search-bar form button img{
    width: 30px;
    margin-top: 7px;
}

.location-input{
    flex: 1;
}

.search-bar form label{
    font-weight: 600;
}

/* exclusive */

.sub-title{
    margin: 50px 0 20px;
    font-size: 2.2vw;
    font-weight: 500;
    color: #333;
}

.exclusives{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap:30px

}

.exclusives img{
        width: 100%;
        border-radius: 10px;
    }

.exclusives div{
    position: relative;
}

.exclusives div span{
    position:absolute
    top:  50%
    left: 50%
    transform:translate(-50%,-50%)
    text-align : center; 
    color:black
}



/* * Registration Form Styling - Denouden * */
input[type=text2],
input[type=password2] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text2]:focus,
input[type=password2]:focus {
  background-color: #ddd;
  outline: none;
}

.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

a {
  color: dodgerblue;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
}

/* * LoginBox Styling - Denouden * */
#LoginBox {
  margin: 0;
  margin-left: 40%;
  margin-right: 40%;
  width: 20%;
  height: 150px;
  display: none;
}


/* about message  */
.about-msg{
    text-align: center;
    margin: 80px 0;
    color: #333;
    font-size: 17px;
}

.about h2{
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: 500;
}

.footer {

  text-align: center;
  margin: 80px 0 10px;
  
}

.footer a{
    text-decoration: none;
    color: #999;
    font-size: 22px;
    margin: 0 10px;
}

.footer hr{
    background: #999;
    height: 1px;
    width: 100%;
    border: 0;
    margin: 20px 0;
}

.footer p{
    font-size: 15px;
    padding-bottom: 15px;
}

/* * Footer Styling - Denouden * */
.footer2 {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #050505;
    text-align: center;
    color: white
  }